<br><br>
    <%= @time_begin_wanted %> ~ <%= @time_end_wanted %>
    <table class="table table-bordered table-inverse" style="max-width: 100%; height: auto; padding: 10px; font-weight:bold;">
        <thead>
            <tr>
                <th style="text-align:center; color:#EA4335; font-size:20px; border: 1px solid #FBBA00;">
                  강의실
                </th>
            </tr>
        </thead>
        <tbody>
            <tr> 
              <td style="text-align:center; color:#4285F4; border: 1px solid #FBBA00;">
                <% @final_result.each do |f| %>
                    <%= f %>&nbsp;&nbsp;&nbsp;
                <% end %>
              </td>    
            </tr>
        </tbody>
    </table>
    <p>
        <strong><span style="color:red;">
            ※주의 
              </span>: 
            결과에 보여지는 강의실들은 그 시간에 수업이 없는것일 뿐입니다. 단과대별 정책에 따라 
            문이 아예 잠겨있을 수도 있거나 다른 행사 일정이 잡혀있을 수도 있습니다. (세상진지함 ㅇ_ㅇ)
        </strong>
    </p>
    
<script type="text/javascript">
    
</script>